[Unit]
Description=Akash Daemon
After=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/akash --grpc.address 0.0.0.0:9110 --pruning nothing
Restart=always
RestartSec=3
LimitNOFILE=25000

[Install]
WantedBy=multi-user.target
